[Unit]
Description=xautolock

[Service]
Environment=AUTOLOCK_DELAY=3
Environment=LOCKER_COMMAND=%h/.scripts/lock

ExecStart=xautolock -time $AUTOLOCK_DELAY -locker $LOCKER_COMMAND

Type=simple

RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
