[Unit]
Description=Battery checking notifications

[Service]
ExecStart=%h/.scripts/dunst/battery-check/battery-check-notify

Type=simple

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
