[Unit]
Description=Compton compositor

[Service]
ExecStart=compton --config %h/.config/compton.conf
Type=simple

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
