[Unit]
Description=Compton compositor
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStart=compton --config %h/.config/compton.conf
Type=simple

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
