[Unit]
Description=Dunst Notification Manager
After=compton.service
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStart=dunst

Type=simple

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
