[Unit]
Description=Restore desktop wallpaper using nitrogen on startup
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStart=nitrogen --restore
Type=oneshot

RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
