[Unit]
Description=Restore desktop wallpaper using nitrogen on startup again after delay to fix visual glitch with compton
Requires=nitrogen.service
Requires=compton.service
After=nitrogen.service
After=compton.service

[Service]
ExecStartPre=-sleep 1s
ExecStart=nitrogen --restore
Type=oneshot

RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
