[Unit]
Description=Polybar
After=compton.service
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStart=%h/.scripts/polybar/launch-polybar

Type=forking

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
