[Unit]
Description=Redshift
After=compton.service
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStartPre=redshift -x
ExecStart=redshift

Type=simple

RestartSec=3
Restart=always

[Install]
WantedBy=default.target
