[Unit]
Description=Startup script
StartLimitBurst=5
StartLimitInterval=20

[Service]
ExecStart=%h/.startup

Type=oneshot

RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
