[Unit]
Description=Sends notification when mihirlad55's forked version of st or dwm are out-of-date with suckless's version.
StartLimitBurst=5
StartLimitInterval=20

[Service]
ExecStart=%h/.scripts/notifications/suckless/suckless-notify

Type=oneshot
RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
