[Unit]
Description=Package update notification

[Service]
ExecStart=%h/.scripts/dunst/update-notification
Type=simple

[Install]
WantedBy=default.target
