[Unit]
Description=Package update notification

[Service]
ExecStart=%h/.scripts/dunst/update/update-notify
Type=simple

[Install]
WantedBy=default.target
