[Unit]
Description=Package update notification

[Service]
ExecStart=%h/.scripts/notifications/update/update-notify
Type=simple

[Install]
WantedBy=default.target
