[Unit]
Description=xautolock
StartLimitBurst=5
StartLimitInterval=20

[Service]
Environment=AUTOLOCK_DELAY=3
Environment="LOCKER_COMMAND=\'%h/.scripts/lock autolock\'"

ExecStart=xautolock -time "$AUTOLOCK_DELAY" -locker "$LOCKER_COMMAND"

Type=simple

RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
