[Unit]
Description=Xbindkeys
StartLimitBurst=5
StartLimitInterval=20

[Service]
ExecStart=xbindkeys -n

Type=simple
RestartSec=3
Restart=on-failure

[Install]
WantedBy=default.target
