[Unit]
Description=Custom Monitor Script %i
StartLimitBurst=5
StartLimitIntervalSec=1
StopWhenUnneeded=yes

[Service]
ExecStart=/usr/bin/systemctl --user --no-block restart polybar.service nitrogen.service
KillMode=process
Type=oneshot
RemainAfterExit=false
