#!/usr/bin/bash

# Edit this file and rename to constants.sh

if [[ -z "$CONSTANTS_SH_" ]]; then
    CONSTANTS_SH_=1

    NOTIFY_USER=
    O_OPTIONS="-o b2.connections=5"

    export B2_BUCKET=
    export B2_KEY_NAME=
    # Same as B2_KEY_ID
    export B2_ACCOUNT_ID=
    export B2_ACCOUNT_KEY=
    B2_DIR=""
    export B2_PATH="b2:${B2_BUCKET}/${B2_DIR}"

    export RESTIC_REPOSITORY="b2:${B2_BUCKET}"
    export RESTIC_PASSWORD=
    export RESTIC_CACHE_DIR="/root/.cache"

    export DISPLAY=:0
    export XAUTHORITY="/home/$NOTIFY_USER/.Xauthority"
fi
