#!/usr/bin/bash

# Duplicate this file and rename to conf.sh to use

### Global ###
# Set to yes to skip script pauses
CONF_NOCONFIRM=no
# Set to 0 for normal verbosity
# Set to 1 for level 1 verbosity
# Set to 2 for level 2 verbosity
CONF_VERBOSITY=0

### Wifi ###
# Set to yes to use WiFi for installation
CONF_USE_WIFI=yes
# Set to name of network card (i.e. wlan0)
CONF_WIFI_ADAPTER=""

### Ranking Mirrorlist ###
# Set to your country code to rank mirrors
CONF_COUNTRY_CODE="US"

### Timezone ###
# Set to path to timezone region including /usr/share/zoneinfo
CONF_TIMEZONE_PATH="/usr/share/zoneinfo/America/New_York"

### Locale ###
# Set to locale from /etc/locale.gen. Locales are the first column
CONF_LOCALE="en_US.UTF-8"

### Hostname ###
# Set to hostname of computer
CONF_HOSTNAME=""

### Hosts ###
# Set to yes to edit hosts file during installation
CONF_EDIT_HOSTS=no

### Root Password ###
# Set to root password for computer
CONF_ROOT_PASSWORD=''

### Default User ###
# Set to your desired username
CONF_USERNAME=""
# Set to your desired password
CONF_PASSWORD=''

### Packages ###
# Set to no to not install packages marked as optional
CONF_INSTALL_OPTIONAL=yes

### Optional Features ###
# Set to array of names of optional features to not install. Use exact folder
# names from the optional-features directory.
CONF_EXCLUDE_FEATURES=( "corsair-headset" \
                            "gogh" \
                            "huion" \
                            "hp-printer" \
                            "setup-gpu-passthrough" \
                            "webkit2-greeter" \
                            "systemd-boot")
