[Unit]
Description=Custom Monitor Script %i
After=graphical.target

[Service]
ExecStartPre=sleep 2s
ExecStart=/usr/local/bin/fix-monitor-layout
Type=oneshot

RestartSec=5
