#!/usr/bin/bash

# Get absolute path to directory of script
readonly BASE_DIR="$( readlink -f "$(dirname "$0")" )"
# Get absolute path to root of repo
readonly LAD_OS_DIR="$( echo "$BASE_DIR" | grep -o ".*/LadOS/" | sed 's/.$//')"

source "$LAD_OS_DIR/common/feature_header.sh"

# Name of feature
readonly FEATURE_NAME=
# Description of feature
readonly FEATURE_DESC=

# Features (required/optional) that conflict with this feature
readonly CONFLICTS=()

# New packages (not including depends) that are installed permenantly
readonly PROVIDES=()
# Paths to files/folders that are permenantly created by the install. This
# does not have to include files/folders created by a package install.
readonly NEW_FILES=()
# Paths to files/folders that are permenantly modified by the install. This
# does not have to include files/folders created by a package install.
readonly MODIFIED_FILES=()
# Paths to files/folders that are temporarily created at any point during the
# script, but removed during the cleanup function
readonly TEMP_FILES=()

# Package names that the feature depends on, but must be installed from the AUR
readonly DEPENDS_AUR=()
# Package names that the feature depends on that can be installed with pacman
readonly DEPENDS_PACMAN=()
# Package names that the feature depends on, but must be installed with pip3
readonly DEPENDS_PIP3=()



# Check if conf is formatted correctly/useable
function check_conf() {

}

# Load configuration settings from /conf
function load_conf() {

}

# Check if the installation was successful
function check_install() {

}

# Pre-install commands to execute 
function prepare() {

}

# Commands to install the feature
function install() {

}

# Commands to run after install
function post_install() {

}

# Commands to clean up and remove temporary files
function cleanup() {

}

# Commands to uninstall feature
function uninstall() {

}

source "$LAD_OS_DIR/common/feature_footer.sh"

# vim:ft=sh
