[Unit]
Description=Check B2 backup, prune, and forget snapshots using restic on the first saturday of every month
Requires=network.target
After=network.target

[Timer]
OnCalendar=Sun *-*-1..7 18:00:00
Persistent=true

Unit=b2-clean.service

[Install]
WantedBy=multi-user.target
