[Unit]
Description=Check B2 backup, prune, and forget snapshots using restic weekly
Requires=network.target
After=network.target

[Timer]
OnCalendar=Wed *-*-* 6:00:00
Persistent=true

Unit=b2-clean.service

[Install]
WantedBy=multi-user.target
