[Unit]
Description=Prune B2 backup using restic every week
Requires=network.target
After=network.target

[Timer]
OnCalendar=Wed *-*-* 6:00:00
Persistent=true

Unit=b2-prune.service

[Install]
WantedBy=multi-user.target
